@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/adaptation';
// Основной стиль для футера
.footer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    margin-top: -5%;
    z-index: 0;
    position: relative;
    max-width: 100%;
    background-color: #342F28;
    padding-bottom: 60px;
    padding-top: 149px;
    
    @include buttonText();
    color: #FFFBF4;
    a{
        color: #F37021;
    }
}

.footer__info {
    max-width: 348px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 72px;
    padding-right: 72px;
}

.footer__info-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 298px;
}

.footer__follow {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 72px;
}

.footer__follow-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__socials {}

.footer__sponsor {}

.footer__ratings {}

.footer__links {}

.footer__link {}

.footer__policies {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
}

.footer__policy {}

.footer__credits {
    padding-top: 223px;
}