@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/dropStyle';
@import '../base/adaptation';

// Основной стиль для body

// Стиль для header
header {
    
    border-radius: 0 0 48px 48px;
    height: 102px;
    width: 100%;
    background: $headerBgColor;
    @include flexCenter();
    flex-direction: row;
    justify-content: space-around;
    gap: 5%;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 20px; // Исправлено: значения разделены пробелом
}

h1 {
    @include heading1();
}

// Логотип
.logo {
    >img {
        width: 240px;
        height: 60px;
    }
}

#myNav{
    
}
// Кнопка навигации
.navigateBlockBtn {
    padding: 16px;
    line-height: 150%;
    border: none;
    font-size: 18px;
    background-color: white;

}

#telephone {
    color: $brandOrange;
}

// Контейнер для выпадающего содержимого
.navigateBlock {
    font-size: 18px;
    position: relative;
    display: inline-block;


    // Выпадающее содержимое (скрыто по умолчанию)
    .navigateBlock-content {
        margin-top: 2vh;
        display: none;
        position: absolute;
        min-width: 333px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        background: #f6f3ec;
        border: 1px solid #d9d9d9;
        border-radius: 0 0 24px 24px;

        // Ссылки внутри выпадающего списка
        a {
            color: $linkColor;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background: $linkHoverBgColor; // Можно изменить на нужный цвет для hover
            }
        }
    }

    // Показать выпадающее меню при наведении курсора
    &:hover .navigateBlock-content {
        display: block;
    }

    // Изменение цвета фона кнопки при отображении содержимого раскрывающегося списка
    &:hover .navigateBlockBtn {
        // Можно добавить стили для кнопки при раскрытом меню
    }
}

// Кнопка для получения бесплатной оценки
.getAFreeEstimate {
    button {
        @include defaultButton();

        &:hover {
            @include hoverButton();
           
        }
    }
}
