@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/adaptation';




h2 {
    @include heading2();
    color: $textColor;
}

h3 {
    @include heading3();
    color: $textColor;
    margin: 0;
}



