@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/adaptation';

body {
    overflow-x: hidden;

    button {
        cursor: pointer;
    }
}

main {
    width: 100%;
    @include flexCenter();
}

.faceImage {
    margin-top: -50px;
    border-radius: 0 0 72px 72px;
    padding: 0 20px;
    width: 100%;
    background-size: cover;
    height: 689px;
    background-image: url("../images/fce.png");
    background-repeat: no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), rgba(0, 0, 0, 0.4), url("path_to_image");
    @include flexCenter();
}

.bringingNewLifeL {
    @include bodyTextL();
    color: #ffffff;
    @include centeredText(center, 60vh);
}

.twoButtons {
    margin-top: 50px;
    display: flex;
    gap: 20px;

    button {
        @include buttonStyles(237px, 72px, $buttonDefaultColor, #fff);

        &:hover {
            @include hoverButton();
            width: 237px;
        }
    }
}

.viewProcess button {
    background-color: #ffffff00;
    color: #ffffff;
}

.threeGoodStuff {
    margin-top: 5vh;
    @include sectionStyles(100%, row, 200px);
    justify-content: space-evenly;

    .goodStuff {
        width: 300px;
        display: flex;
        align-items: center;
        gap: 10px;

        .textRight {
            @include bodyTextM();
            width: 250px;
        }
    }
}

.mainOurServices {
    border-radius: 72px;
    background-color: #F6F3EC;
    @include flexCenter();
}

h2 {
    @include heading2();
    color: $textColor;
}

h3 {
    @include heading3();
    color: $textColor;
    margin: 0;
}

.headingXS {
    @include bodyTextXS();
    color: #5E5E5E;
}

.subHeading {
    @include subHeading();
    color: #5E5E5E;
}

.tripleBlock {
    @include sectionStyles(100%, column, 20px);
    border-radius: 0 0 72px 72px;
    padding: 0 20px;
}

.textS {
    @include bodyTextS();
    color: #5E5E5E;
    width: 67%;
}

.cabinet {
    background-color: #ffffff;
    border-radius: 32px;
    padding: 30px 15%;
    gap: 72px;
    display: flex;
    justify-content: center;
}

.textAboutFurniture {
    display: flex;
    flex-direction: column;
    gap: 30px;

    button {
        @include learnMoreButton();
        background-color: #5e5e5e00;
    }
}

#CabinetDoorReplacement {
    flex-direction: row-reverse;
}

.Testimonials {
    margin-top: 10%;
    width: 100%;
}

.headingAndSubText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

    .bodyTextM {
        @include bodyTextM();
        color: #5E5E5E;
        width: 60%;
    }
}

.comms {
    display: flex;
    justify-content: space-around;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.commentaryText {
    @include bodyTextM();
    font-family: 'Red Hat Display';
    color: #5e5e5e;
    width: 331px;
}

.commentAuthor {
    @include bodyTextS();
    font-family: 'Red Hat Display';
    color: #5e5e5e;
}

.inputForma {
    position: relative;
    z-index: 1;
    border-bottom-right-radius: 100px 100px;
    border-bottom-left-radius: 100px 100px;
    margin-top: 10%;
    width: 100%;
    background-image: url('/src/images/inputBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        width: 80%;
    }

    .bodyTextM {
        @include bodyTextM();
        color: #5E5E5E;
        width: 65%;
        margin-bottom: 24px;
    }
}

.kitchenAndForma {
    padding-top: 5%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 48px;
    padding-left: 10%;
    margin-bottom: 5%;
}

.show {
    display: block;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
        @include inputButton();
    }
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #5e5e5e;
}

.addressServicesMessage {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .dropbtn {
        @include inputButton();
        color: $textColor;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        width: 484px;
        border: 1px solid #D9D9D9;
    }

    .dropdown {
        position: relative;
        display: inline-block;

        select {
            @include inputButton();
            width: 484px;
        }
    }

    input {
        width: 484px;
    }

    #message {
        height: 122px;
    }
}

.defaultButton {
    margin-top: 16px;
    @include defaultButton();
    width: 484px
}
