@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';

// Изображение на фоне

main {
    @include flexCenter();
}

.faceImage {
    border-radius: 0 0 72px 72px;
    padding: 0 20px; // Исправлено: значения разделены пробелом
    top: 0;
    width: 160vh;
    position: absolute;
    background-size: cover;
    height: 689px;
    background-image: url("/src/images/fce.png");
    background-repeat: no-repeat;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), rgba(0, 0, 0, 0.4), url("path_to_image");
    @include flexCenter()
}

.bringingNewLifeL {
    @include bodyTextL();
    color: #ffffff;
    width: 60vh;
    text-align: center;


}

.twoButtons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    button {
        border-radius: 72px;
        padding: 24px 32px;
        width: 237px;
        height: 72px;
        &:hover{
            @include hoverButton();
            width: 237px;
        height: 72px;
        }
    }
}

.viewProcess{
    button{
        background-color:  #ffffff00;
        color: #ffffff;
    }
    
}