@import '../base/variables';
@import '../base/mixins';
@import '../base/fonts';
@import '../base/adaptation';
// Основной контейнер галереи
.gallery {
    margin-top: 10%;
    border-radius: 100px;
    //height: calc(100vh + 10px);
    width: 160vh;
    height: 100%; // Убедитесь, что высота контейнера адаптируется к родительскому элементу
    background: url('/src/images/galleryBackground.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2%;
}

// Контейнер слайдера
.slider {
    width: 70%;
    overflow: hidden;
    position: relative;
}

// Область слайдов
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

// Индивидуальные слайды
.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    position: relative; // Убедитесь, что позиционирование кнопок относительно слайда

    button {
        @include defaultButton();
        background: #f6f3ec;
        color: $textColor;
        position: absolute;
        width: 115px;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;

        // Миксин для кнопок управления
    

        #before {
            @include sliderButton(left);
            left: 3%;
            top: 5%;
        }

        #after {
            @include sliderButton(right);
            right: 3%;
            top: 5%;
        }
    }
}

// Изображения слайдов
.slide img {
    width: 100%;
    display: block;
}

// Контейнер управления слайдером
.controls {
    margin-top: 80px;
    display: flex;
    gap: 15px;
    justify-content: end;
}

// Кнопки управления слайдером
.prev,
.next {
    cursor: pointer;
    @include sliderButton(center);
}

// Заголовок и кнопка "Больше" в галерее
.titileTextButton {
    padding-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    h2 {
        margin-top: -10px;
        align-self: flex-start;
        color: #f6f3ec;
    }
}

// Дополнительные стили
.galleryMore {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
}

.bodyTextM {
    @include bodyTextM();
    color: #f6f3ec;
}

.browserTheGallery {
    button {
        @include learnMoreButton();
        border-color: #f6f3ec;
        background-color: #ffffff00;
        color: #ffffff;
        border-radius: 72px;
        padding: 24px 32px;
        width: 237px;
        height: 72px;
    }
}