@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin heading1 {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 110%;
    color: $headerBgColor;
}

@mixin heading2 {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: $headerBgColor;
}

@mixin heading3 {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: $headerBgColor;
}

@mixin heading4 {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    color: $headerBgColor;
}

@mixin heading5 {
    font-family: "Red Hat Display";
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: $headerBgColor;
}

@mixin bodyTextL {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

@mixin bodyTextM {
    @include bodyTextL();
    font-size: 18px;
}

@mixin bodyTextS {
    @include bodyTextL();
    font-size: 16px;
}

@mixin bodyTextXS {
    @include bodyTextL();
    font-size: 14px;
}

@mixin buttonText {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

@mixin subHeading {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

@mixin inputHeading {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
}


@mixin defaultButton {
    border: none;
    border-radius: 72px;
    padding: 24px 32px;
    width: 212px;
    height: 72px;
    background: $buttonDefaultColor;
    color: #fff;
}

@mixin learnMoreButton {
    color: #45280a;
    border: 1px solid #45280a;
    border-radius: 72px;
    padding: 24px 32px;
    width: 150px;
    height: 72px;
    background-color: none;
}


@mixin hoverButton {
    border: none;
    border-radius: 72px;
    padding: 24px 32px;
    width: 212px;
    height: 72px;
    background: $buttonHoverColor;
    color: $textColor;
}