// Цвета
$bgColor: #f0f0f0;
$headerBgColor: #fff;
$buttonDefaultColor: #f37021;
$buttonHoverColor: #f6f3ec;
$secondMainColor: #DA7816;
$textColor: #151515;
$linkColor: black;
$linkHoverBgColor: #eaeaea; // Можно изменить на нужный цвет для hover
