// Переменные
// Импорт общих стилей
@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';

// Импорт компонентов
@import 'components/header';
@import 'components/mainContent.scss';
@import 'components/slider.scss';
@import 'components/footer.scss';

* {
    box-sizing: border-box;

}

body {
    background: $bgColor;
    margin: auto;
    padding: 0;
    color: $textColor;
    font-size: 16px;
    font-family: "Manrope", sans-serif;

    width: 1440px;
    background: #fff;

    button {
        cursor: pointer;
    }
}

@media (max-width: 765px) {
    body {
        width: 375px;
    }

    .header {
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
        height: 57px;
        display: flex;
        position: relative;

    }

    .header__logo {
        padding-left: 16px;

        >img {
            width: 156px;
        }
    }

    .header__nav {
        top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        height: 610px;
        width: 375px;
        background-color: #fff;
    }

    .header__nav-block {
        width: 100%;
        background-color: #fff;
    }

    .header__dropdown {
        position: static;
        width: 100%;
        background-color: #fff
    }

    .header__estimate {
        padding-left: 52px;
        display: flex;

        .header__estimate-button {
            width: 41px;
            height: 41px;
            background-color: #ffffff00;
            background-image: url("/src/images/openMenu.svg");
            background-repeat: no-repeat;
            background-position: center;
            color: #ffffff00;
        }
    }

    #header__estimate--button--extra {
        width: 41px;
        height: 41px;
        background-color: #ffffff00;
        background-image: url("/src/images/bp.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .face-image__title {
        text-align: center;
    }

    .face-image__subtitle {
        text-align: center;
        width: 336px;
    }

    .face-image__buttons {
        display: flex;
        flex-direction: column;

        button {
            width: 344px;
        }
    }

    .good-stuff {
        margin-top: 32px;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
    }

    .good-stuff__item {
        justify-content: center;
        width: 100%;

    }

    .service {
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 343px;
        align-items: center;
        padding: 16px;
        gap: 24px;
    }

    .service__image {

        img {
            width: 310px;
        }
    }

    .service__subheading {
        width: 100%;
    }

    .service__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service__text {
        width: 100%;
    }

    .service--repair {
        .service__description {
            width: 100%;

            .service__name {
                width: 100%;
            }

            .service__text {
                width: 100%;
            }
        }
    }

    .gallery {
        border-radius: 50px;
    }

    .gallery__header {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        padding: 50px 16px;
    }

    .gallery__header-more {
        width: 100%;
    }

    .glide__slides {
        padding: 0px;
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    li {

        width: 100% !important;
        flex-direction: column;
        flex-shrink: 1 !important;
        justify-content: center;
        align-items: center;

        //margin-right: -16px;
        //flex-direction: row-reverse;
        /*#slide1_pic1{
        display: flex;
        order: 2;
    }*/
        .glide__slide--active {

            display: flex;
        }

        .glide__slide {

            display: flex !important;
            width: 43px !important;
        }

        img {
            width: 343px;
        }
    }

    .glide__arrows {
        justify-content: flex-start;
        padding-bottom: 50px;
    }

    .testimonials_comments {
        flex-direction: row;
        width: 300px;
        overflow: hidden;
    }

    .testimonials {
        width: 100%;
    }

    .testimonials__header {
        gap: 0px;
        flex-direction: column;
        width: 100%;
        width: 343px;
    }

    .testimonials__text {
        width: 343px;
    }


}






// Основной контейнер для контента