// Переменные
$bg-color: #f0f0f0;
$header-bg-color: #fff;
$button-bg-color: #f37021;
$secondMain-color: #DA7816;
$text-color: #151515;
$link-color: black;
$link-hover-bg-color: #eaeaea; // Можно изменить на нужный цвет для hover


@mixin defaultButton{
    border: none;
    border-radius: 72px;
    padding: 24px 32px;
    width: 212px;
    height: 72px;
    background: $secondMain-color;
    color: #fff;
}

// Импорт шрифтов
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

// Основной стиль для body
body {
    background: $bg-color;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 16px;
    font-family: "Manrope", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Стиль для header
header {
    border-radius: 0 0 48px 48px;
    height: 102px;
    width: 190vh;
    background: $header-bg-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 20px; // Исправлено: значения разделены пробелом
}

// Логотип
.logo {
    > img {
        width: 240px;
        height: 60px;
    }
}

// Кнопка навигации
.navigateBlockBtn {
    padding: 16px;
    line-height: 150%;
    border: none;
    font-size: 18px;
    background-color: white;
}

// Контейнер для выпадающего содержимого
.navigateBlock {
    font-size: 18px;
    position: relative;
    display: inline-block;

    // Выпадающее содержимое (скрыто по умолчанию)
    .navigateBlock-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;

        // Ссылки внутри выпадающего списка
        a {
            color: $link-color;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background: $link-hover-bg-color; // Можно изменить на нужный цвет для hover
            }
        }
    }

    // Показать выпадающее меню при наведении курсора
    &:hover .navigateBlock-content {
        display: block;
    }

    // Изменение цвета фона кнопки при отображении содержимого раскрывающегося списка
    &:hover .navigateBlockBtn {
        // Можно добавить стили для кнопки при раскрытом меню
    }
}

// Кнопка для получения бесплатной оценки
.getAFreeEstimate {
    button {
        @include defaultButton()
    }
}

// Основной контейнер для контента
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

// Изображение на фоне
.faceImage {
    top: 0;
    position: absolute;
    width: 160vh;
    height: 689px;

    > img {
        // Можно добавить стили дл